<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
Our philosophy is based upon Helen Keller's quote: "Alone we can do so little; together we can do so much." Engagement in a hobby with redeemable value (meaning, hobbies that help develop a skill and makes a better you) will better oneself. A better you is a better world.  
</p>