<% provide(:title, 'About Us') %>
<div id="wrapper">
<h1>About Us</h1>
<p>
	Whether or not we identify ourselves as one, we are all foodies. EnthusedByFood aims to cultivate a base of food knowledge through the community. The bigger the community, the bigger the knowledgebase. 
</p>
</div>
