<div class="row">
	<h2>Discover New York City through food!</h2>
	
	<div class="col-md-4 col-lg-4">
		<h4 id="cultivate-list-title">NYC Foodie Community</h4>
		<div id="users_index" >
			<%= render 'users' %>
		</div>
	</div>
	
	<div class="col-md-8 col-lg-8" id="discover_map">
		<div id="map-canvas">
		</div>
	</div>
</div>
