<% provide(:title, 'Our Mission') %>
<h1>Our Mission</h1>
<p>
Provide a social platform for you to log and track the progress of your hobbies. Our goal is to help you discover your passion(s). But, in actuality, your passion(s) choose(s) you. 
</p>