<% provide(:title, 'Getting Started') %>
<h1>Getting Started</h1>

<h2>Our Mission</h2>
	<p class='start'>
		To become the world's single greatest food database.
	</p>
<h2>How It Works</h2>
	<p class='start'>
		To achieve this lofty goal, we need you! <br />
		Log and categorize foods that catch your interest (food that enthused you). <br />
	</p> 
	<p class='start'>
		EnthusedbyFood is a free website for food lovers. 
	</p>

<h2>Join!</h3>
	<p class="start">
		<%= link_to "Sign up now!", signup_path %>
	</p>