<% if current_user.admin? %>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<%= form_for(@chef) do |f| %>

			<%= render 'shared/error_messages', object: f.object %>
			<%= render 'fields', f: f %>		
			<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

<% end %>