<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>

<div class="fileupload fileupload-new" data-provides="fileupload">
  <span class="btn btn-file" id="button-cust">
		<span class="fileupload-new">Upload Photo</span>
		<%= f.file_field :image, :as => :file %>
		<span class="fileupload-exists">Change</span>
		<input type="file" />
	</span>
  
	<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
</div>