<span>
<%= f.text_field :where_at, placeholder: "Where did you have the dish?" %>
<%= f.text_field :who_with, placeholder: "Who did you have the dish with?" %>
<%= f.text_field :why_eat, placeholder: "Why did you have the dish?" %>
<%= f.date_field :when_time, placeholder: "Where did you have the dish?" %>

</span>