


<!-- <form id="myForm" action="/activity" method="post"> 
    Name: <input type="text" name="name" /> 
    Comment: <textarea name="comment"></textarea> 
    <input type="submit" value="Submit Comment" /> 
action="../activities/create data-async data-target="#mymodal" 
</form> -->

<form class="form-horizontal well" method="post">
	<fieldset>
		<label>How would you rate it on the awesome meter?</label> 
		<div class="star">
			<input name="star1" type="radio" class="star"/>
			<input name="star1" type="radio" class="star"/>
			<input name="star1" type="radio" class="star"/>
			<input name="star1" type="radio" class="star"/>
			<input name="star1" type="radio" class="star"/>
			<br />
			<button type="submit" class="btn">Submit</button>
		</div>
	</fieldset>
</form>