<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
				</button>
				<h3 id="myModalLabel">Mission statement for enthused_by_food</h3>
			</div><!-- ./modal-header -->

			<div class="modal-body">
				<div id="mission">
				<p>Log - Cultivate - Discover - Explore the world through food<p>
				<p id="header-modal"><%= image_tag("enthused2.jpg") %></p>
				</div>
				<div id="cultivate">
					<p>Hello</p>
				</div>									
			</div><!-- ./modal-body -->

			<div class="modal-footer">
				<button class="btn" data-dismiss="modal">Close</button>
			</div> <!-- /.modal-footer -->
		</div>
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->