<div class="center hero-unit">
	<h1 class="logo">enthused by FOOD!</h1>
	<h2>
		Share all your food adventures!
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>