<ul class="pagination" id="pagination-index">
	<li><a href="./users?page=1">&laquo;</a></li>
	<li><a href="./users?page=1">1</a></li>
	<li><a href="./users?page=2">2</a></li>
	<li><a href="./users?page=3">3</a></li>
	<li><a href="./users?page=4">4</a></li>
	<li><a href="./users?page=4">&raquo;</a></li>
</ul>