<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 id="myModalLabel">Share something good!</h3>
			</div><!-- ./modal-header -->

			<div class="modal-body">
				<%= render 'shared/activity_form' %>
			</div><!-- ./modal-body -->

			<div class="modal-footer">
				<button class="btn" data-dismiss="modal">Close</button>
			</div> <!-- /.modal-footer -->
		</div>
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
			
				
				
				
				
				
				
