<div class="search">
	<%= form_tag foods_path, :method => 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search], placeholder: "Search food, chef, region, culture..." %>
			<%= submit_tag "Search", :name => nil, id: "search-button" %>
		</p>
	<% end %>
</div>