<div class="row">
	<aside class="col-4 col-sm-4 col-lg-4">
		<section>
			<%= render 'shared/activity_form' %>
		</section>
	</aside>	
	
	<div class="col-12 col-sm-8 col-lg-8">
		<h3>Your recent posts</h3>
		<%= render 'shared/recent_activity'%>
	</div>
</div>
		
